name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  rustfmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v6.0.0

      - name: Setup | Rust
        uses: dtolnay/rust-toolchain@0b1efabc08b657293548b77fb76cc02d26091c7e
        with:
          toolchain: stable
          components: rustfmt

      - name: Run fmt
        run: cargo fmt --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v6.0.0

      - name: Setup | Rust
        uses: dtolnay/rust-toolchain@0b1efabc08b657293548b77fb76cc02d26091c7e
        with:
          toolchain: stable
          components: clippy

      - name: Setup | Cache
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1

      - name: Run clippy
        run: cargo clippy --locked --tests --all-targets --all-features -- -D clippy::all -W clippy::pedantic

  test:
    name: Test
    permissions:
      contents: read
      packages: read
    strategy:
      fail-fast: false
      matrix:
        target:
          - aarch64-unknown-linux-gnu
          - aarch64-unknown-linux-musl
          - armv7-unknown-linux-gnueabihf
          - armv7-unknown-linux-musleabihf
          - x86_64-unknown-linux-gnu
          - x86_64-unknown-linux-musl
        os: [ubuntu-latest]
    env:
      USE_CROSS: "${{ !startsWith(matrix.target, 'x86_64-unknown-linux-') }}"
      MUSL: ${{ contains(matrix.target, '-unknown-linux-musl') }}
      CARGO: cargo
    runs-on: ${{ matrix.os }}
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v6.0.0

      - name: Setup | Rust
        uses: dtolnay/rust-toolchain@0b1efabc08b657293548b77fb76cc02d26091c7e
        with:
          toolchain: stable

      - name: Setup | Cache
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
        with:
          shared-key: ${{ matrix.target }}-${{ matrix.os }}-debug-build

      - name: Setup | Cross
        if: env.USE_CROSS == 'true'
        run: |
          cargo install --bins cross
          echo "CARGO=cross" >> $GITHUB_ENV

      - name: Setup | Install build dependencies
        if: env.USE_CROSS == 'false'
        run: |
          rustup target add ${{ matrix.target }}
          if [[ "$MUSL" == 'true' ]]; then
            sudo apt-get update
            sudo apt-get install --assume-yes musl-tools
          fi

      - name: Setup | Log in to the Container registry
        if: env.USE_CROSS == 'true'
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run check
        run: ${{ env.CARGO }} check --target ${{ matrix.target }}

      - name: Run tests
        # Disable on cross until find a way to use trycmd with it:
        # https://github.com/assert-rs/trycmd/issues/51
        if: env.USE_CROSS == 'false'
        run: ${{ env.CARGO }} test --verbose --target ${{ matrix.target }}
